.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body .welcome-screen-container {
  position: absolute;
  width: 100%;
  height: 100vh; /* how much of the screen is displaying */
}

body .welcome-screen-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(145, 181, 240), white); /* gradient from blue to white */
}

.content {
  position: relative;
  z-index: 1; /* make sure content appears above the background */
  text-align: center;
  padding-top: 40vh; /* vertical centering */
}


.info-button {
  position: fixed;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}