@import url('https://fonts.googleapis.com/css?family=Oxanium');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');

.App {
  text-align: center;
}

.App-logo {
  height: 90px;
  padding-bottom: 25px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.App-logo.visible {
  opacity: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*GENERAL DESIGN*/

html, body {
  height: 100%; 
}

.container-fluid {
  min-height: 100vh;
}

/*BODY WELCOME SCREEN*/

.welcome-screen {
  background: radial-gradient(circle at center, #66a8d4, white);
  height: 100%; 
  display: flex;
  align-items: center; 
  justify-content: center;
  font-family: 'Oxanium', sans-serif; 
  font-weight: bold; 
}

.content {
  text-align: center;
}

.content-left {
  text-align: left;
}

/*BUTTONS*/

.button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.button-disabled{
  background-color: #9d9d9d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.back-button {
  position: fixed;
  top: 10px; 
  left: 10px; 
}

.start-button {
  position: relative;
  margin-top: 10px;
}

.info-button {
  position: absolute;
  top: 10px; 
  right: 10px; 
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/*SCROLLABLE TEXT*/
.scroll-box {
  width: 80%; 
  height: 400px;

  border: 1px solid #ccc;
  overflow: scroll; 
  padding: 10px; 
  margin: 0 auto;
}

/*LOGO TOP*/
.logo-top {
  background: gradient(#66a8d4, white); /*TODO*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oxanium', sans-serif;
  font-weight: bold;
}

/*PERIMETRY*/

.split-container {
  display: flex;
  height: 100vh;
}

.split-focus {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.split-unfocus {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.split-midpoint {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

/* SIDEBAR */

.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    z-index: 1000;
}

.collapsed {
    width: 60px;
    overflow: hidden;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: padding 0.3s ease;
}

.menu-icon {
    font-size: 20px;
    margin-right: 10px;
}

.menu-title {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    margin-top: 25px;
}

.small-links {
    margin-top: auto;
    margin-left: 10px;
    padding: 10px;
    text-align: left;
}

.small-link {
    display: block;
    margin: 5px 0;
    font-size: 15px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.small-link:hover {
    color: blue;
    text-decoration: underline;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}


@media (min-width: 576px) {
  .position-sm-static {
    position: static !important;
  }
  .position-sm-relative {
    position: relative !important;
  }
  .position-sm-absolute {
    position: absolute !important;
  }
  .position-sm-fixed {
    position: fixed !important;
  }
  .position-sm-sticky {
    position: sticky !important;
  }
}

@media (min-width: 768px) {
  .position-md-static {
    position: static !important;
  }
  .position-md-relative {
    position: relative !important;
  }
  .position-md-absolute {
    position: absolute !important;
  }
  .position-md-fixed {
    position: fixed !important;
  }
  .position-md-sticky {
    position: sticky !important;
  }
}