@import url('https://fonts.googleapis.com/css?family=Oxanium');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');


.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*GENERAL DESIGN*/

html, body {
  height: 100%; 
}

.container-fluid {
  min-height: 100vh;
}

/*BODY WELCOME SCREEN*/

.welcome-screen {
  background: radial-gradient(circle at center, #66a8d4, white);
  height: 100%; 
  display: flex;
  align-items: center; 
  justify-content: center;
  font-family: 'Oxanium', sans-serif; 
  font-weight: bold; 
}

.content {
  text-align: center;
}

/*BUTTONS*/

.button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.back-button {
  position: fixed;
  top: 10px; 
  left: 10px; 
}

.start-button {
  position: relative;
}

.info-button {
  position: absolute;
  top: 10px; 
  right: 10px; 
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/*SCROLLABLE TEXT*/
.scroll-box {
  width: 80%; 
  height: 200px; 
  border: 1px solid #ccc;
  overflow: scroll; 
  padding: 10px; 
  margin: 0 auto;
}




